/* 
 * Remark TOC
 */

h2#mục-lục + ul {
  max-height: 75vh;
  overflow-y: auto;
}

h2#mục-lục + ul > li > a {
  font-weight: bold;
}

h2#mục-lục + ul > li > ul {
  padding-top: 8px;
}

h2#mục-lục + ul > li > ul:has(ul) > li > a {
  font-weight: bold;
}

h2#mục-lục + ul > li > ul:has(ul) > li > ul {
  padding-top: 4px;
  padding-bottom: 8px;
}

/* Make the heading links look normal */
.markdown-body h1 > a,
.markdown-body h2 > a,
.markdown-body h3 > a,
.markdown-body h4 > a,
.markdown-body h5 > a,
.markdown-body h6 > a {
  font-weight: bold !important;
  color: inherit !important;
}

/* 
 * Truncate TOC items on mobile
 */

@media (max-width: 768px) {
  h2#mục-lục + ul > li a {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
