{
  "jsxSingleQuote": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^next*$",
    "^react*$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/constant/(.*)$",
    "^@/helpers/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/model/(.*)$",
    "^@/service/(.*)$",
    "^@/style/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ]
}
