.one-col {
  .layout {
    grid-template-columns: 1fr;
  }

  .item-wrapper {
    grid-row: span 1 / span 1;
    grid-column: span 1 / span 1;
  }

  .item {
    flex-direction: row;
    position: relative;
  }

  .item-image-wrapper {
    width: 50%;
    max-width: 240px;
    flex-shrink: 0;
    aspect-ratio: 3/2;
  }

  .item-image {
    object-position: center;
  }

  .item-description {
    font-size: 16px;
    text-align: left;
    /* margin-left: 12px; */
    font-weight: bold;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    color: var(--color-foreground);
  }
}

.less-cols {
  .layout {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .item-meaning {
    color: var(--color-gray-500);
  }
}
@media (width >= 48rem /* 768px */) {
  .less-cols {
    .layout {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }
}

.more-cols {
  .layout {
    grid-template-columns: repeat(auto-fill, minmax(104px, 1fr));
  }

  .item {
    padding: 2px;
  }

  .item-image {
    object-position: center;
  }

  .item-description {
    display: none;
  }

  .item-meaning {
    display: none;
  }

  .item-name {
    display: none;
  }
}
@media (width >= 48rem /* 768px */) {
  .more-cols {
    .layout {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}
