/* 
 * github-markdown 
 */

/* 
 * remark-toc 
 */
.markdown-body #mục-lục + ul,
.markdown-body #mục-lục + ol,
.markdown-body #toc + ul,
.markdown-body #toc + ol,
.markdown-body #table-of-contents + ul,
.markdown-body #table-of-contents + ol,
.markdown-body #contents + ul,
.markdown-body #contents + ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.markdown-body #mục-lục + ul ul,
.markdown-body #mục-lục + ol ul,
.markdown-body #toc + ul ul,
.markdown-body #toc + ol ul,
.markdown-body #table-of-contents + ul ul,
.markdown-body #table-of-contents + ol ul,
.markdown-body #contents + ul ul,
.markdown-body #contents + ol ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1em;
}

.markdown-body #mục-lục + ul > li,
.markdown-body #mục-lục + ol > li,
.markdown-body #toc + ul > li,
.markdown-body #toc + ol > li,
.markdown-body #table-of-contents + ul > li,
.markdown-body #table-of-contents + ol > li,
.markdown-body #contents + ul > li,
.markdown-body #contents + ol > li {
  margin-bottom: 1em;
}

/* 
 * remark-gfm - Footnotes list
 */
.markdown-body .footnotes ol {
  list-style: revert;
}

/*
 * Table
 */
.markdown-body table.no-border tr,
.markdown-body table.no-border td {
  border: none;
}
