.markdown-body h4,
.markdown-body h5 {
  font-size: 1rem;
  line-height: 24px;
}

.markdown-body h4 a:hover,
.markdown-body h5 a:hover {
  text-decoration: none;
}

.markdown-body h5 {
  margin-top: 16px;
  margin-left: 16px;
}

.markdown-body h5 a {
  font-weight: normal !important;
}
.markdown-body h5:has(+ p) a {
  font-weight: bold !important;
}

.markdown-body #mục-lục + ul ~ p {
  margin-left: 32px;
}

.markdown-body #mục-lục + ul ~ ul li {
  margin-left: 16px;
}

h2#mục-lục + ul > li > ul:has(ul) > li > ul {
  padding-top: 4px;
  padding-bottom: 8px;
}

h2#mục-lục + ul > li > ul > li > ul > li > ul {
  background-color: deeppink;
  display: none;
}

a:has(span.anchor-link) span.anchor-link,
p:has(span.anchor-link) span.anchor-link {
  border-color: transparent;
}
a:has(span.anchor-link):hover span.anchor-link,
p:has(span.anchor-link):hover span.anchor-link {
  border-style: dotted;
  border-color: hsl(198.6, 88.7%, 48.4%);
}
a:has(span.anchor-link) span.anchor-link:active,
p:has(span.anchor-link) span.anchor-link:active {
  border-style: solid;
  border-color: hsl(198.6, 88.7%, 48.4%);
}
