.markdown-body h4,
.markdown-body h5 {
  font-size: 1rem;
  line-height: 24px;
}

.markdown-body h4 a:hover,
.markdown-body h5 a:hover {
  text-decoration: none;
}

.markdown-body h5 {
  margin-top: 16px;
  margin-left: 16px;
}

.markdown-body h5 a {
  font-weight: normal !important;
}
.markdown-body h5:has(+ p) a {
  font-weight: bold !important;
}

.markdown-body #mục-lục + ul ~ p {
  margin-left: 32px;
}

.markdown-body #mục-lục + ul ~ ul li {
  margin-left: 16px;
}

h2#mục-lục + ul > li > ul:has(ul) > li > ul {
  padding-top: 4px;
  padding-bottom: 8px;
}

h2#mục-lục + ul > li > ul > li > ul > li > ul {
  background-color: deeppink;
  display: none;
}

h2#mục-lục + ul a:hover .anchor-link {
  pointer-events: none;
  text-decoration: underline;
}

.anchor-link {
  svg {
    position: absolute;
    left: -1.1em;
    top: 0.25em;
    vertical-align: baseline;
    display: none;
    width: 1.25em;
    height: 1em;
    padding-right: 0.25em;
    color: hsl(198.6, 88.7%, 48.4%);
  }
}

h2:hover a + .anchor-link > svg {
  top: 0.15em;
  left: -1.2em;
}
h3:hover a + .anchor-link > svg {
  top: 0.15em;
  left: -1.2em;
}
h4:hover a + .anchor-link > svg {
  top: 0.25em;
  left: -1.25em;
}

h2:has(.anchor-link):hover .anchor-link > svg,
h3:has(.anchor-link):hover .anchor-link > svg,
h4:has(.anchor-link):hover .anchor-link > svg,
h5:has(.anchor-link):hover .anchor-link > svg,
h6:has(.anchor-link):hover .anchor-link > svg,
p:has(.anchor-link):hover .anchor-link > svg {
  display: inline-block;
}

h2:has(.anchor-link):hover .anchor-link:hover > svg,
h3:has(.anchor-link):hover .anchor-link:hover > svg,
h4:has(.anchor-link):hover .anchor-link:hover > svg,
h5:has(.anchor-link):hover .anchor-link:hover > svg,
h6:has(.anchor-link):hover .anchor-link:hover > svg,
p:has(.anchor-link):hover .anchor-link:hover > svg {
  color: hsl(198.6, 88.7%, 30%);
}

h2:has(.anchor-link):hover .anchor-link:hover > .tooltip,
h3:has(.anchor-link):hover .anchor-link:hover > .tooltip,
h4:has(.anchor-link):hover .anchor-link:hover > .tooltip,
h5:has(.anchor-link):hover .anchor-link:hover > .tooltip,
h6:has(.anchor-link):hover .anchor-link:hover > .tooltip,
p:has(.anchor-link):hover .anchor-link:hover > .tooltip {
  display: inline-block;
  font-weight: normal;
  font-size: 1rem;
}
