.one-col {
  .layout {
    grid-template-columns: 1fr;
  }

  .bbgt {
    flex-direction: row;
    position: relative;
  }

  .bbgt-image-wrapper {
    width: 140px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
  }

  .bbgt-image {
    object-position: center;
  }

  .bbgt-description {
    font-size: 16px;
    text-align: left;
    margin-left: 12px;
    line-clamp: 5;
    -webkit-line-clamp: 5;
  }

  .bbgt-name {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }
}

.less-cols {
  .layout {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
@media (width >= 48rem /* 768px */) {
  .less-cols {
    .layout {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
  }
}

.more-cols {
  .layout {
    grid-template-columns: repeat(auto-fill, minmax(56px, 1fr));
  }

  .bbgt {
    padding: 2px;
  }

  .bbgt-image {
    object-position: center;
  }

  .bbgt-description {
    display: none;
  }

  .bbgt-name {
    display: none;
  }
}
@media (width >= 48rem /* 768px */) {
  .more-cols {
    .layout {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
  }
}
